html{
    height: 100%;
    width: 100%;
}

body{
    display: grid;
    justify-content: center;
    margin: 0;
}

div.popularItems{
    display: grid;
    width: 1920px;
    height: 736px;
    grid-template-rows: 160px 496px;
    background-color: #FFFFFF;
    font-family: 'Rubik';
    font-style: normal;
}

div.top{
    display: grid;
    width: 962px;
    height: 40px;
    grid-template-columns: 406px 190px 316px;
    padding-left: 262px;
    padding-top: 80px;
    align-items: center;
    column-gap: 25px;
}

h2{
    font-weight: 700;
    font-size: 34px;
    color: #000000;
}

a{
    font-weight: 400;
    font-size: 22px;
    color: #535658;
    text-decoration: none;
    border-bottom: 2px dotted;
    padding-bottom: 1px;
}

div.showItems{
    display: grid;
    grid-template-columns: 72px 1396px 72px;
    align-items: center;
    margin: 0 190px 0 190px;
}

div.container{
    display: grid;
    grid-template-columns: repeat(4, 334px);
    column-gap: 20px;
}

div.item{
    display: grid;
    height: 496px;
    border: 1px solid #ECF0F4;
    grid-template-rows: 334px 162px;
    border-radius: 5px;
}

div.itemMain{
    display: grid;
    grid-template-columns: 130px 150px 54px;
    grid-template-rows: 317px 17px;
}

div.sticker{
    display: grid;
    width: 110px;
    height: 50px;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    row-gap: 10px;
    position: relative;
    right: 0;
    top: 20px;
    left: 20px;
    z-index: 2;
}

img{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

div.choise{
    display: grid;
    grid-template-rows: 34px 34px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    row-gap: 5px;
    z-index: 3;
    margin: 20px 0 0 0;
}

button.favorite, button.compare{
    width: 34px;
    height: 34px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
}

div.quantitySlides{
    display: grid;
    grid-template-columns: repeat(5, 20px);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    column-gap: 4px;
    justify-content: center;
    align-items: flex-start;
}

button.forSlide{
    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 1px;
}

button.forSlide:hover{
    background-color: #F1D264;
}

div.itemFooter{
    display: grid;
    grid-template-columns: 135px 199px;
    grid-template-rows: 50px 27px 85px;
}

span.header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0 25px;
    gap: 10px;
    text-align: center;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
}

div.priceTwo{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 59px 41px;
    column-gap: 10px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
}

div.price{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    column-gap: 10px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
}

span.priceOne{
    font-weight: 700;
    font-size: 20px;
}

span.priceTwo{
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: line-through;
    color: #8D9295;
}

div.quantity{
    width: 100px;
    height: 50px;
    display: grid;
    grid-template-columns: 35px 30px 35px;
    align-self: center;
    align-items: center;
    border: 1px solid #ECF0F4;
    position: relative;
    left: 25px;
}

button.minus, button.plus{
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Rubik';
    align-items: center;
    color: #8D9295;
    width: 30px;
    height: 30px;
}

span.quantity{
    display: grid;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
}

button.addToCard{
    display: grid;
    align-self: center;
    align-items: center;
    width: 174px;
    height: 50px;
    background-color: #F1D264;
    border: none;
    border-radius: 5px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
}

button.left, button.right{
    border: 1px solid #ECF0F4;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

button.right{
    position: relative;
    left: 46px;
}

@media all and (max-width: 330px){
    div.popularItems{
        width: 320px;
        height: 630px;
        grid-template-rows: 124px 481px;
        overflow-x: hidden;
    }

    div.top{
        width: 215px;
        grid-template-columns: 1fr;
        grid-template-rows: 31px 29px 22px;
        padding: 0;
        column-gap: 0;
        row-gap: 5px;
        margin: 40px 85px 0 20px;
    }

    h2{
        font-size: 18px;
    }

    a{
        font-size: 14px;
    }

    div.showItems{
        width: 320px;
        height: 441px;
        grid-template-columns: 540px;
        margin: 27px 20px;
        overflow-x: scroll;
    }

    div.container{
        height: 441px;
        grid-template-columns: repeat(4, 260px);
        column-gap: 20px;
    }

    div.sticker{
        display: hidden;
    }

    button.left, button.right{
        display: none;
    }

    div.item{
        height: 439px;
        grid-template-rows: 260px 181px;
    }

    div.itemMain{
        width: 260px;
        grid-template-columns: 123px 83px 54px;
        grid-template-rows: 260px;
    }

    div.quantitySlides{
        display: none;
    }

    div.itemFooter{
        grid-template-columns: 260px;
        grid-template-rows: 54px 37px 90px;
    }

    span.header{
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 10px 20px 0 20px;
    }

    div.priceTwo{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    div.quantity{
        display: none;
    }

    button.addToCard{
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 0 20px;
        width: 220px;
    }
}